body{
    background: linear-gradient(to bottom left,white,violet);
}

form>input{
    border-left: 5px solid blue;
    border-top: none;
    border-right: none;
    border-bottom: none;
    padding: 10px 15px;
    border-radius: 10px;
}
#signup-form{
    display: none;
}
#signup-form>form>h2, #login-form>form>h2{
    color: navy;
}
#form-row{
    height: 75vh;
    text-align: center;
    align-items: center;
}
 
#imag{
    box-shadow: 5px 5px 10px 2px blueviolet;
}